.misa-btn {
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    font-family: GoogleSans-Regular;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.misa-btn:hover {
    background-color: #2fbe8e;
}

.misa-btn .misa-btn-icon {
    background-position: center;
}

.misa-second-btn {
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 40px;
    color: #000000;
    padding: 0 24px 0 24px;
    text-align: center;
}

.misa-btn-refresh {
    background-image: url('../../assets/img/refresh.png');
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
    background-color: #ffffff;
    flex-shrink: 3;
}


/* .misa-btn-refresh:hover{
   background-color: #EBF9F4 ;
} */