.tooltip {
    position: relative;
    
  }
  
  .tooltip .tooltiptext {
    visibility: visible;
    width: 150px;
    background-color: #eb5757;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 113%;
    left: 50%;
    margin-left: -60px;
    margin-bottom:5px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #eb5757 transparent transparent transparent;
  }